a {
    transition: all 0.2s ease-in-out;
}

p a {
    position: relative;
    z-index: 1;
}

p a::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: -0.05em;
    right: -0.05em;
    background-color: hsla(210, 68%, 83%, 1);
    transform-origin: bottom center;
    transform: scaleY(0.1);
    transition: all 0.2s ease-in-out;
}

p a:hover::before {
    transform: scaleY(1);
    background-color: hsla(210, 68%, 83%, 0.75);
    // background-color: hsla(341, 97%, 59%, 0.75);
}

.heading {
    font-size: 3rem;
    margin-left: -20px;
    z-index: -5;
    margin-bottom: 0;
    // color: #e3ecf6;
    color: #819dc3;
}

.heading-secondary {
    font-size: 2.25rem;
    margin-left: 45px;
    margin-top: 0;
    z-index: -5;
    margin-bottom: 0;
    color: #819dc3;
    // color: #e2e8ee;
}

@media (min-width: 770px) and (max-width: 1058px) {
    .heading {
        margin-left: -20px;
        margin-bottom: 0;
        font-size: 4rem;
    }

    .heading-secondary {
        margin-top: -20px;
        font-size: 3rem;
    }
}

@media(min-width: 1059px) {
    .heading {
        margin-left: -50px;
        font-size: 5rem;
    }

    .heading-secondary {
        margin-top: -20px;
        font-size: 4rem;
        margin-left: 70px;
    }
}
